<body>
  <div class="container my-3 my-sm-5">
    <h1 class="mb-3 mb-sm-5 text-center tomato-text">People's mvmnt</h1>
    <div class="row">
      <div class="col-12 col-md-6 mb-6 card-block">
        <div class="card card-outline-tomato text-center">
          <div class="card-header tomato text-white">
            <h2>Today's Activity </h2>
            <h4> {{ todaysDate }} </h4>
          </div>
          <ul class="list-group large">
            {{#each todaysRuns as |run|}}
            {{> run-details}}
            {{/each}}
          </ul>
          <div class="card-footer tomato text-center"></div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-6 card-block">
        <div class="card card-outline-primary text-center">
          <div class="card-header bg-primary text-white">
            <h2>All Activity</h2>
            <h4>All Time Record</h4>
            </h5>
          </div>
          <ul class="list-group large">
            {{#each allRuns as |run|}}
            {{> run-details}}
            {{/each}}
          </ul>
          <div class="card-footer bg-primary"></div>
        </div>
      </div>
    </div>
  </div>
</body>