.form-group {
    border: black;
    padding: 0;
    background-color: blue;
    font-style: italic;
    font-size: large;
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
}

#map {
    height: 300px;
}
  a {
    background-color: orangered;
    border: indigo;
    border-radius: 30px;
    font-size: medium;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
  }
  h4 {
    font-size: large;
    color: green;
  }
  body {
    background-color: sandybrown ;
  }
