/*.form-group {
    border: black;
    padding: 0;
    background-color: blue;
    font-style: italic;
    font-size: large;
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
}

#map {
    height: 300px;
}

a {
    background-color: orangered;
    border: indigo;
    border-radius: 30px;
    font-size: medium;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

h4 {
    font-size: large;
    color: green;
}

body {
    background-color: sandybrown;
} */

i {
    display: inline-block;
    height: 1rem;
    width: 1rem;
}

#run-icon {
    color: tomato;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

#map {
    height: 300px;
}